@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}

article {width: 64%; margin-left: auto; margin-right: auto;}
dd {float: left; margin-left: 0em; margin-right: 0.78em; font-size: small;}
dd+dt {clear: left;}
dt {padding-top: 1em;}
dt:first-child {padding-top: 0em;}
.work-title {margin-bottom: 0em;}
.work-list {width: 78%;}
.work-list li {font-size: small;}
.education-title {margin-bottom: 0em;}
.education-list {padding-left: 2.5em;}
.education-list {width: 78%;}
.publications-list li {padding-bottom: 1em;}
.publications-list li:last-child {padding-bottom: 0em;}
.time:before {content: "(";}
.time:after {content: ")";}
