.bordered {border: .625em solid #000;}
.rounded {border-radius: .625em; -moz-border-radius: .625em; -webkit-border-radius: .625em;}
.imaged {width: 425px; height: 432px; background-image: url(../img/eric-02.jpg);}
